<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hidden {
            display: none;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
            display:inline-block;
        }

        li {
            clear: both;
        }

        li button {
            -webkit-appearance: none;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer
        }

        .list-wrapper, .todos-wrapper{
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>


<body>
    <div class="list-wrapper">
    <ul id="lists">
        {% for list in lists %}
        <li><a href="/lists/{{list.id}}" > {{list.name}}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="todos-wrapper">
<h4>{{active_list.name}}</h4>

    <form id="form">
        <input id="description" type="text" name="description">
        <input type="submit" value="create" />
    </form>
    <div id="error" class="hidden">Something went wrong</div>
    <ul id="todos">
        {% for todo in todos %}
        <li><input class="check-completed" data-id="{{todo.id}}" type="checkbox" {% if todo.completed %} checked {% endif
                %}>{{todo.description}}
            <button class="delete-item" data-id="{{todo.id}}">&cross;</button>
        </li>
        {% endfor %}
    </ul>
</div>

    <script>

        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = (e) => {
                console.log(e)
                const todoId = e.target.dataset['id']
                const newCompleted = e.target.checked;
                console.log(newCompleted)
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted

                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).catch(err => {
                    console.log(err)
                    document.getElementById('error').className = ''
                })
            }
        }

        const deleteButtons = document.querySelectorAll('.delete-item');
        for (let i = 0; i < deleteButtons.length; i++) {
            const deleteButton = deleteButtons[i];
            deleteButton.onclick = (e) => {
                console.log("hello")
                const todoId = e.target.dataset['id']
                console.log(todoId)
                fetch('/todos/' + todoId + '/delete', {
                    method: 'DELETE',
                }).catch(err => {
                    console.log(err)
                    document.getElementById('error').className = ''
                })
            }
        }

        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();

            fetch('/todos/create', {
                method: "POST",
                body: JSON.stringify({
                    'description': document.getElementById('description').value,
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then(jsonresp => {
                    console.log(jsonresp)
                    const liItem = document.createElement('LI');
                    const input = document.createElement('input')
                    input.classList.add('check-completed')
                    input.setAttribute('type', 'checkbox')
                    liItem.innerHTML = jsonresp['description'];
                    liItem.prepend(input)
                    document.getElementById('todos').appendChild(liItem)
                    document.getElementById('error').className = 'hidden'
                }).catch(err => {
                    console.log(err)
                    document.getElementById('error').className = ''
                })
        }
    </script>
</body>

</html>